<html>
    <head>
        <title>Soubhik's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 2.03.2017, 00:30</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post in this Django girls blog.</p>
        </div>

        <div>
            <p>published: 2.03.2017, 01:14</p>
            <h2><a href="">My second post</a></h2>
            <p>I have an assignment to do but i am wasting time here.</p>
        </div>
    </body>
</html>